.tabbed-layout label.nav, .tabbed-layout a {
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    display: inline-block;
    color: inherit;
    transition: border 0.2s;
    border-bottom: 5px solid rgba(142, 68, 173, 0.2);
    padding: 3px 2px;
    &:hover{
        border-bottom-color: #9b59b6;
      }
  }
  
  
  /*
  .tabbed-layout label.nav:hover, .tabbed-layout a:hover {
    border-bottom-color: #9b59b6;
  }
  */

  .tabbed-layout {
    display: grid;
    height: 100%;
    width: 100%;
    overflow: hidden;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .tabbed-layout input[type="radio"] {
    display: none;
  }
  
  .tabbed-layout label.nav, .tabbed-layout .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /*
    border-bottom: 2px solid #8e44ad;
    background: #ecf0f1;
    */
    border-bottom: 1px solid #dbdbdb;
    user-select: none;
    transition: background 0.4s, padding-left 0.2s;
    padding-left: 0;
  }
  
  .tabbed-layout input[type="radio"]:checked + .page + label.nav {
  /*
    background: #9b59b6;
    color: #ffffff;
    */
    border-bottom: 1px solid #3273dc;
    padding-left: 20px;
  }
  input[type="radio"]:checked + .page + .tabbed-layout label.nav span {
    padding-left: 20px;
  }
  input[type="radio"]:checked + .page + .tabbed-layout label.nav svg {
    opacity: 1;
  }
  .tabbed-layout label.nav span {
    padding-left: 0px;
    position: relative;
  }
  .tabbed-layout label.nav svg {
    left: 0;
    top: -3px;
    position: absolute;
    width: 15px;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .tabbed-layout .page {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: span 3;
    /*padding: 0px 20px;*/
    display: flex;
    align-items: center;
  }
  
  .tabbed-layout .page-contents > * {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.2s, transform 0.2s;
  }
  .tabbed-layout .page-contents > *:nth-child(1) {
    transition-delay: 0.4s;
  }
  .tabbed-layout .page-contents > *:nth-child(2) {
    transition-delay: 0.6s;
  }
  .tabbed-layout .page-contents > *:nth-child(3) {
    transition-delay: 0.8s;
  }
  .tabbed-layout .page-contents > *:nth-child(4) {
    transition-delay: 1s;
  }
  .tabbed-layout .page-contents > *:nth-child(5) {
    transition-delay: 1.2s;
  }
  .tabbed-layout .page-contents > *:nth-child(6) {
    transition-delay: 1.4s;
  }
  .tabbed-layout .page-contents > *:nth-child(7) {
    transition-delay: 1.6s;
  }
  .tabbed-layout .page-contents > *:nth-child(8) {
    transition-delay: 1.8s;
  }
  .tabbed-layout .page-contents > *:nth-child(9) {
    transition-delay: 2s;
  }
  .tabbed-layout .page-contents > *:nth-child(10) {
    transition-delay: 2.2s;
  }
  .tabbed-layout .page-contents > *:nth-child(11) {
    transition-delay: 2.4s;
  }
  .tabbed-layout .page-contents > *:nth-child(12) {
    transition-delay: 2.6s;
  }
  .tabbed-layout .page-contents > *:nth-child(13) {
    transition-delay: 2.8s;
  }
  .tabbed-layout .page-contents > *:nth-child(14) {
    transition-delay: 3s;
  }
  .tabbed-layout .page-contents > *:nth-child(15) {
    transition-delay: 3.2s;
  }
  .tabbed-layout .page-contents > *:nth-child(16) {
    transition-delay: 3.4s;
  }
  .tabbed-layout .page-contents > *:nth-child(17) {
    transition-delay: 3.6s;
  }
  .tabbed-layout .page-contents > *:nth-child(18) {
    transition-delay: 3.8s;
  }
  .tabbed-layout .page-contents > *:nth-child(19) {
    transition-delay: 4s;
  }
  .tabbed-layout .page-contents > *:nth-child(20) {
    transition-delay: 4.2s;
  }
  
  .tabbed-layout input[type="radio"] + .page {
    transition: transform 0.2s;
    transform: translateX(100%);
  }
  
  .tabbed-layout input[type="radio"]:checked + .page {
    transform: translateX(0%);
  }
  .tabbed-layout input[type="radio"]:checked + .page .page-contents > * {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .tabbed-layout .page-contents {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
  